/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    width: 100%;
    background-color: #949494;
    padding: 20px;
    text-align: left;
    color: #ffffff;
}
#toc img {
    width: 100px; /* 设置图片宽度 */
    height: 100px; /* 设置图片高度 */
    object-fit: cover; /* 图片按比例缩放并裁剪以填充容器 */
    display: block; /* 将图片设置为块级元素 */
    margin: 10px left; /* 图片居中显示，并设置上下间距 */
}

footer h2 {
    color: #333;
}

#content {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
}

#toc {
    margin-bottom: 20px;
}

#toc ul {
    list-style-type: none;
    padding: 0;
}

#toc ul li {
    margin: 10px 0;
}

section {
    margin-bottom: 40px;
}
#content a {
    color: hsl(200, 100%, 50%);
    
}
a {
    color: hsl(178, 100%, 50%);
    text-decoration: none;
}

#content a:hover {
    background-color: #FFD700;
    color: #000;
}
a:visited {
    color: hsl(178, 100%, 50%);
}
a:hover {
    background-color: #FFD700;
    color: #000;
}

#section1 p {
    color: #00ff007d;
}
#section2 p {
    color: #ff00dd84;
}
#section3 p {
    color: #7300ffb7;
}